
.es_eq_add-info {
  max-width: 261px;
  min-width: 144px;
  float: left;
  margin-left: 30px;
  margin-top: 0;
  width: calc(100% - 1064px);
}

.es_eq_add-info-header {
  font-size: 18px;
  background-color: #85919b;
  color: #fff;
  padding: 18px 24px;
  border-radius: 3px 3px 0 0;
}

.es_eq_add-info-linktile {
  background-color: #fbfcfc;
  padding: 15px 24px;
  box-shadow: 0 2px 0 0 #dde2e6;
}

.es_eq_add-info-summary {
  background-color: #fff;
  padding: 13px 24px 14px 24px;
}

.add-info-link-title {
  font-size: 12px;
  font-weight: 700;
  color: #191919;
}

@media all and (max-width: 1279px) {
  .account-lookup-add-info {
    width: 261px;
    margin-top: 30px;
    margin-left: 0;
  }
}

.es_eq_leftSide {
  width: 50%;
  float: left
}

.es_eq_rightSide {
  width: 29%;
  float: left;
  margin-left: 24px;
}

.alertAll {
  padding: 24px 24px 24px 20px;
  font-weight: 200;
  font-size: 20px !important;
  text-align: left;
  color: #191919 !important;
  line-height: normal;
  background: #fff;
  margin-bottom: 3px;
}

.managetxtService {
  background: #fff;
  margin: 0;
  padding: 0 0 0 20px
}

.managetxtService a {
  color: #2B9CD8;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.managetxtService a:hover {
  color: #896494;
  cursor: pointer;
}

.managetxtService li {
  display: inline-block;
}

.managetxtService li:first-child {
  padding: 24px 24px 24px 0px;
  width: 47%;
}

.managetxtService li:last-child {
  padding: 24px 0px 24px 20px;
  width: 51%;
}

.border_service {
  border-bottom: 1px solid #e9ecef;
  height: 1px;
  margin: 0 20px;
  float: left;
  width: 96.3%;
}

.manageheadingService {
  background: #fff;
  margin: 0;
  padding: 0 0 0 20px
}

.manageheadingService li {
  display: inline-block;
  border-bottom: 1px solid #e9ecef;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.manageheadingService li:first-child {
  padding: 24px 24px 24px 0px;
  width: 47%;
  margin-right: 20px
}

.manageheadingService li:last-child {
  padding: 24px 24px 24px 0px;
  width: 30%;
}

.alertAll button {
  margin-top: 0;
}

#ein-content > div {
  max-width: 100% !important;
}

#locationIdText {
  -webkit-user-select: none;
}

@media ( max-width: 1280px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }

  .displayHideService {
    display: none
  }
}

ol.es_eq_breadcrumb {
  background-color: #fff !important;
  border-radius: 0;
  padding: 10px;
}

ol.es_eq_breadcrumb span {
  vertical-align: top;
  margin: 0 5px;
  color: #999;
}

ol.es_eq_breadcrumb a {
  border-bottom: 1px solid #fff
}

.es_eq_breadcrumb > .active {
  vertical-align: top;
}

.es_eq_ShowHide {
  float: right;
  font-weight: 500;
  font-size: 16px
}

.es_eq_add-info-summary span {
  float: right
}

ol.es_eq_breadcrumb li {
  list-style: none;
  display: inline-block;
}

.es_eq_borderbottom {

  border-bottom: 1px solid #DDE2E6;
}

.es_eq_Container {
  padding: 24px 24px 60px 24px
}

.es_eq_heading {
  padding: 20px 0px 20px 0px;
  font-size: 18px;
  color: #191919;
  text-align: left;
  position: relative;
}

.es_eq_footer {
  background: #000;
  position: fixed;
  bottom: 0;
  display: none
}

.margintop0 {
  margin-top: 0 !important;
}

.es_eq_dt-header {
  background: #fff;
  padding:14px 24px 14px 24px;
  border-radius:3px 3px 0 0;
}
.es_eq_boxfooter {
  background: #fff;
  padding:12px 24px 14px 24px;
  color:#757575;
  box-shadow:0px 1px 2px 0px #d1d1d1, inset 01px 0px 0px #dde2e6;
  border-top: 1px solid #dde2e6;
  margin-bottom: 14px;
}
.es_eq_devicePanel {
  padding:14px 24px 28px 24px;
  background: #fff;
  border-radius: 3px 3px 0 0;
  margin-top: 2px
}

.es_eq_devicePanelText {
  padding: 18px 24px 21px 24px;
  background: #f3f4f6;
  border-radius: 0px 0px 3px 3px;
  border: 1px solid #dde2e6;
  box-shadow: 0px 1px 2px 0 #d1d1d1
}

.es_eq_imageManage {
  max-height: 64px;
  margin: 6px 12px 6px 12px;
}

#comcast-widget {
  width: 100% !important;
  float: none !important
}
.es_eq_display2{font-weight: 100; font-size:50px;line-height:75px;letter-spacing:0.2px;}
.es_eq_display1{font-weight: 100; font-size:40px;line-height:60px;letter-spacing:0.2px;}
.es_eq_sectionHeader{line-height:36px;font-size:26px;font-weight:100;letter-spacing:0.2px;padding: 22px 0;}
.es_eq_callOut{line-height:30px;font-size:20px;font-weight:200;letter-spacing:0.2px;}
.es_eq_title{line-height:27px;font-size:18px;letter-spacing:0.2px;}
.es_eq_smallHeader{line-height:18px;font-size:12px;letter-spacing:0.2px;text-transform:uppercase;font-weight: 700;}
.es_eq_body2dataTable{color:#757575;font-size:14px;line-height:21px;}
.es_eq_body2dataTable{font-size:14px;line-height:21px;}
.es_eq_body1emp{font-size:16px;line-height:24px;font-weight: 700;}
.es_eq_body1{font-size:16px;line-height:24px;}
.es_eq_caption{font-size:14px;line-height:21px;font-style:italic;color:#757575}
.es_eq_currentDev{width:50%}
.es_eq_replaceDev{margin-left:14px;}
.es_eq_replaceDev:after{clear:left}
.es_eq_center{text-align:center !important}
.es_eq_topBox {padding:0;margin:0}
.es_eq_topBox li{display:inline-block;width:48.59%;vertical-align:top;}
.es_eq_minheightPanel{min-height:184px}
.es_eq_captionPadding{padding: 16px 0 18px 0;}
.es_eq_headerPadding{padding:0 0 22px 0;}
.es_eq_boxfooter label{margin:0}
.es_eq_topBox div.es_eq_boxfooter{color: #303233 !important;height: 47px;}
.es_eq_topBox div.input{margin-top: -4px !important}
.es_eq_body1 span{ margin: 0 0 -4px -22px;}

.clearfix() {
&:before,
&:after {
   content: " ";
   display: table;
 }
&:after {
   clear: both;
 }
}


.element {
   @include clearfix;
}
